@use "./style-utilities/utilities" as *;

.riveIcon {
	aspect-ratio: 1;
	width: pixToRemGenerator(24px);
	margin: 0;
	min-height: pixToRemGenerator(24px);
	display: inline-block;
}

.big{
	width: pixToRemGenerator(350px);
	aspect-ratio: 1/1;
	position: absolute;
	z-index: -1;
	bottom: -48%;
}
.treetop{
	position: relative;

}
section:is(.container) {
	.range {
		width: 100%;
		accent-color: map-get($colors, "accent-password");
	}
	.ln {
		color: map-get($colors, "grey");
	}

	.checkers > * + * {
		margin-top: pixToRemGenerator(12px);
	}
	max-width: pixToRemGenerator(456px);
	margin: auto;
	background-color: map-get($colors, "bg-400");
	padding-inline: pixToRemGenerator(24px);
	padding-block: pixToRemGenerator(16px);
	border-radius: pixToRemGenerator(4px);
	

	.checkbox-container {
		display: flex;
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
		gap: pixToRemGenerator(16px);
		align-items: center;

		.checkbox {
			accent-color: map-get($colors, "accent-password");
			position: relative;
			width: pixToRemGenerator(20px);
			aspect-ratio: 1/1;
			border-radius: 20px;
			border: 2px solid greenyellow;
			display: none;
		}

		& > * {
			cursor: pointer;
		}
	}
}

.container-flex {
	display: flex;
	justify-content: space-between;
	align-items: center;
	output {
		letter-spacing: 0.2em;
		font-size: pixToRemGenerator(20px);
	}
	.copy{
		width: pixToRemGenerator(24px);
		aspect-ratio: 1/1;
		cursor: pointer;
	}
}

.controls {
	& > * + * {
		margin-top: pixToRemGenerator(36px);
	}
	.passLength {
		color: map-get($colors, "accent-password");
		font-size: pixToRemGenerator(20px);
		font-weight: bold;
	}
}

main {
	padding-inline: pixToRemGenerator(16px);
}

.icon {
	cursor: pointer;
}

nav:is(.navBar) {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	max-width: pixToRemGenerator(1168px);
	padding-block: pixToRemGenerator(28px);
	margin: auto;
	p span:is(.dim) {
		color: map-get($colors, "grey");
	}
	p > a {
		text-decoration: none;
		color: white;
	}
}

div:is(.generator) {
	margin-top: pixToRemGenerator(42px);
	& > * + * {
		margin-top: pixToRemGenerator(24px);
	}
	h1:is(.title) {
		font-size: pixToRemGenerator(14px);
		font-weight: normal;
		text-align: center;
		color: map-get($colors, "grey");
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
	}
}
.generator-btn {
	all: unset;

	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	padding-block: pixToRemGenerator(12px);
	margin-top: pixToRemGenerator(36px);
	background-color: map-get($colors, "accent-password");
	border-radius: pixToRemGenerator(4px);
	color: map-get($colors, "bg-password");
	gap: pixToRemGenerator(8px);

	&:is(:hover) {
		cursor: pointer;
		transition: background-color 0.2s ease-in-out;
		background-color: lighten(map-get($colors, "accent-password"), $amount: 2);
	}
	&:is(:active) {
		background-color: darken(map-get($colors, "accent-password"), $amount: 12);
	}
}
