@use "./style-utilities/utilities" as *;



body {
  margin: 0;
  font-family: map-get($font, "font-family") !important;
  font-weight: normal;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
