@use "./style-utilities/utilities" as *;

body {
	margin: 0;
	font-family: map-get($font, "font-family") !important;
	font-weight: normal;
	background-color: map-get($colors, "bg-password");
	color: map-get($colors, "white");
}
::-moz-selection {
	background-color: map-get($colors, "accent-password");
	color: map-get($colors, "bg-password") !important;
}
::selection {
	background-color: map-get($colors, "accent-password");
  color: map-get($colors, "bg-password") !important;
}
